<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <Subtype>ContainerRegistry</Subtype>
    <DockerPublish>True</DockerPublish>
    <ResourceId>/subscriptions/14067ab8-993e-4cee-bfda-c13320245bf4/resourceGroups/carsandowners/providers/Microsoft.Web/sites/TeslaCarsAndOwners</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://teslacarsandowners.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://teslacarsandowners.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$TeslaCarsAndOwners</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>